# Python
venv/
__pycache__/
*.pyc

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Large raw telemetry files
data/*.MF4

# Large raw exports
outputs/raw_exports/*.csv

# Tableau temp files
*.hyper
*.twbr
.~*

# Sensitive raw telemetry data
*.MF4
*.mf4
data/raw/
data/processed/

# Device metadata
device.json
config-*.json
schema-*.json

# Environment variables
.env
.env.*
.env/
!.env.example
