# Python
venv/
__pycache__/
*.pyc

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Large raw telemetry files
data/*.MF4

# Large raw exports
outputs/raw_exports/*.csv

# Tableau temp files
*.hyper

# AWS / credentials
.env